/*CSS code for the Title*/
/*Fonts, Containers, Header, PSU Logo, Titles, COR Text, Regristration Num/Color,*/
body {
    font-family: Arial, sans-serif, impact;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 40%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 75px;
    height: 75px;
    margin-right: 20px;
}

.title {
    text-align: center;
}

.title h6, .title h3 {
    margin: 5px 0;
}

.COR {
    font-weight: bold;
    letter-spacing: 5px; 
    margin-top: 5px; 
    margin-bottom: 10px; 
    margin-left: 180px; 
    margin-right: 20px;
}

.registration-no {
    text-align: center; 
    font-weight: normal; 
    padding: 0; 
    margin-bottom: 10px; 
}

.registration-no {
    margin-left: 2px;
    margin-right: auto; 
    width: fit-content; 
}

.number {
    font-weight: bold;
    color: rgb(201, 25, 63);
}

/*CSS code for the Title Ends*/



/*CSS code for the Body/Information Starts*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid black; 
}

th, td {
    border: none; 
    padding: 10px; 
    text-align: left; 
    font-size: 12px; 
}


th {
    text-align: center; 
    background-color: #add8e6; 
    color: #000; 
}


.header {
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.logo {
    margin-right: 20px; 
}

.flex-container {
    display: flex; 
    justify-content: space-around; 
    padding: 10px 0; 
}

.subject-info {
    background-color: #add8e6; 
    color: #000; 
    text-align: center; 
    font-weight: bold; 
}

.info-row {
    display: flex;
    justify-content: flex-start; 
    gap: px;
    margin-bottom: 1px;
    font-size: px; 
    align-items: center; 
    white-space: nowrap;
}


.info-row span {
    flex-basis: 50%; 
    white-space: normal; 
    word-wrap: break-word;
}

strong {
    font-weight: bold; 
}

.flex-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}

.unit-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.unit-words {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
    margin-top: 1px;
    font-size: 10px;
}

.unit-words span {
    flex: 1; 
    text-align: center;
    padding: 0 10px; 
}

/*CSS code for the Body/Information Ends*/


