body {
    font-family: Arial, sans-serif, impact;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 40%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 75px;
    height: 75px;
    margin-right: 20px;
}

.title {
    text-align: center;
}

.title h6, .title h3 {
    margin: 5px 0;
}

.COR {
    font-weight: bold;
    letter-spacing: 5px; 
    margin-top: 5px; 
    margin-bottom: 750px; 
    margin-left: 180px; 
    margin-right: 20px;
}

.registration-no {
    text-align: center; 
    margin-top: -725px; 
    margin-bottom: 800px; 
    font-weight: normal; 
    padding: 0; 
}

.registration-no {
    margin-left: 30px;
    margin-right: auto; 
    width: fit-content; 
}

.number {
    font-weight: bold;
    color: rgb(201, 25, 63);
}
